{% extends 'main/base.html' %}
{% load static %}
{% block title %}{{ gallery.title }}{% endblock %}
{% block head %}
<link href="{% static 'main/styles/gallery_detail.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">{{ gallery.title }}</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/about">About me</a>
                <a class="nav-link" href="/blog">Blog</a>
                <a class="nav-link" href="/contact">Contact</a>
                <a class="nav-link active" href="/gallery">Gallery</a>
                <a class="nav-link" href="/social">Social</a>
            </nav>
        </div>
    </header>

    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for image in gallery.images.all %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="img-fluid open-modal" src="{{ image.image.url }}" alt="{{ image.title }}"
                            data-bs-toggle="modal" data-bs-target="#imageModal" data-url="{{ image.image.url }}">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <img id="modalImage" src="" class="img-fluid" alt="Selected Image">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const images = document.querySelectorAll('.open-modal');
    const modalImage = document.querySelector('#modalImage');
    const modal = document.querySelector('#imageModal');

    images.forEach(image => {
        image.addEventListener('click', function () {
            modalImage.src = this.dataset.url;
        });
    });

    modal.addEventListener('click', function (event) {
        if (event.target !== modalImage) {
            let bootstrapModal = bootstrap.Modal.getInstance(modal);
            bootstrapModal.hide();
        }
    });
</script>
{% endblock %}